{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
           <p>
                {{ notFoundText }}
           </p>
           <p>
                <b>
                    page '{{ notFoundURL }}' not found!
                </b>
           </p>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
