{% extends 'base.html.twig' %}

{% block body %}

<div id="headerImage" style="background-image: url('/img/headerpic.jpg');"></div>

<div id="contentText">

    <h2>WELCOME</h2>
    test

</div>

<div id="headerImage" style="background-image: url('/img/run.jpg');"></div>

<div id="about">

    <div id="contentText">

        <h2>ABOUT</h2>
        test

    </div>

</div>

<div id="headerImage" style="background-image: url('/img/work.jpg');"></div>

<div id="work">

    <div id="contentText">

        <h2>WORK</h2>
        test

    </div>

</div>

<div id="headerImage" style="background-image: url('/img/study.jpg');"></div>

<div id="skills">

    <div id="contentText">

        <h2>SKILLS</h2>
        test

    </div>

</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}