{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
           
           {{ welcomeText }}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
