{% extends 'base.html.twig' %}

{% block body %}

<div id="headerImage"></div>

<div id="contentText">

    <h2>Headline</h2>
    test

</div>

<div id="headerImage"></div>

<div id="about">

    <div id="contentText">

        <h2>Headline</h2>
        test

    </div>

</div>

<div id="headerImage"></div>

<div id="work">

    <div id="contentText">

        <h2>Headline</h2>
        test

    </div>

</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}