#myTopnav {
  position:fixed;
  width: 100%;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.85s;
  font-size: 17px;
}

ul.topnav li a:hover {
    background-color: #f2f2f2;
    color: #121212;
    }

ul.topnav li.icon a:hover {
    background-color: inherit;
    color: #f2f2f2;
    }

ul.topnav li a.logo:hover {
    background-color: inherit;
    color: #f2f2f2;
    }

ul.topnav li.icon {
    display: none;
    }

/* responsive */

@media screen and (max-width:680px) {
    /*Logo*/
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  ul.topnav.responsive li a:hover{
    background-color: inherit;
    color: #f2f2f2;
  }
  ul.topnav.responsive li a:active{
    background-color: #f2f2f2;
  }
  ul.topnav.responsive li.icon a:active{
    background-color: inherit;
    color: #f2f2f2;
  }

}